/data/
/src/data/
/src/regmnk/
/src/inference/images/
/src/inference/results/
/src/inference/slice_lib/
/src/export/

makefile

# venv
.venv

# Configs
clearml.conf
data_CARS.yaml
trainer_config_cars.yaml